/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

.ztree * {padding:0; margin:0;}
.ztree {margin:0; padding:5px; }
.ztree li{padding:0; margin:0; list-style:none; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 18px}

.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; background-color: transparent;
	text-decoration:none; vertical-align:top; display: inline-block}

.ztree li span {margin-right:2px}
.ztree li span.button {line-height:0; margin:0; background-position:center; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
}

.ztree li span.button.switch {width:16px; height:16px; background-image:url("../Images/treeIcon.png");}
.ztree li span.button.noline_open{background-position:-16px 0}
.ztree li span.button.noline_close{background-position:0 0}
.ztree li span.button.noline_docu{ background:none;}

span.tmpzTreeMove_arrow {width:16px; display: inline-block; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;}

.zTreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}
